<!-- /*
============================================
; Title:  EMS
; Author: Wendy Portillo
; Date:   14 September 2019
; Description: footer view
;===========================================
*/
 -->
 <hr>

<footer>
    <div class="container">
  <p style ="text-align: center">&copy; Wendy Portillo Design 2019</p>
</div>
</footer>

<hr />
     <% include scripts %>
</body>
</html>

